body {
	margin: 0;
	background-color: #e1f1fa;
}
:focus, :active {
	outline: none;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}