.results {
	color: #265470;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
	justify-content: space-around;
	align-content: center;
}

.bottom {
	padding: 30px;
	display: flex;
	justify-content: center;
	height: 100%;
}

