.button {
	width: 150px;
	border-radius: 15px;
	font-family: Arial;
	color: #ebf1f5;
	font-size: 20px;
	background: #4c9bcf;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	transition: all 0.5s ease;
	border: 2px solid #4c9bcf;
	background: #132835;
	border-color:#265470;
}

.button:hover {
	background: #54b4f0;
	text-decoration: none;
	border: 2px solid #4c9bcf;
}