.result {
	max-width: 500px;
	padding: 20px;
	height: 100px;
	background-color: #e1f1fa;
	border: 2px solid #265470;
	border-radius: 10px;
}

.result  {
	font-size: 18px;
}

.result h3 {
	font-size: 20px;
	text-transform: uppercase;
}